.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  min-width: 380px;
  width: 100%;
  max-width: 800px;
  min-height: 150px;
}

.description {
  position: absolute;
  display: flex;
  padding: 20px;
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
  line-height: 1.9rem;
  letter-spacing: 1px;
  z-index: 2;
}

@media (max-width: 800px) and (orientation: landscape) {
  .hero {
    display: none;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .hero {
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
    min-width: 100%;
    max-width: 350px;
  }

  .description {
    display: flex;
    width: 95%;
    height: auto;
    padding: 0 20px;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
