.movieSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--three);
  padding: 15px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.searchArea {
  display: flex;
  align-items: flex-end;
  max-width: 350px;
  margin: 0;
}

.movieSearchInput {
  height: 20px;
  margin-top: 6px;
  padding: 5px;
  font-size: 14px;
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.movieSearchButton {
  box-sizing: border-box;
  font-family: "Roboto Flex", serif;
  font-weight: 100;
  background-color: var(--button);
  display: block;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid var(--three);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movieSearchButton:hover {
  background-color: var(--three);
  border: 1px solid #fff;
}

.posters {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 200%;
  margin: 0;
  /* padding: 20px; */
  z-index: 5;
  background-color: var(--background);
}

.moviePoster {
  /* width: 20%; */
  object-fit: cover;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.moviePoster:hover {
  box-sizing: border-box;
  transform: scale(1.5);
  border: 1px solid #000;
  box-shadow: #000 10px 10px 10px 0px;
}

.movieTitle {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 800px) and (orientation: landscape) {
  .movieSearchContainer {
    padding: 10px;
  }
  .searchArea {
    max-width: 325px;
  }
  .posters {
    width: 100vw;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .posters {
    width: 100vw;
    /* margin: 0;
    padding: 0; */
  }
}
