.shelf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 400px;
  border: none;
}

/* start Movie Container */
.shelf_movie_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  /* Hide scrollbar in IE */
  -ms-overflow-style: none;
}
&::-webkit-scrollbar {
  display: none;
}

.scroll_button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.scroll_button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
/* end style Movie Container */

.shelf_bottom {
  width: 97%;
  height: 15px;
  background-color: #000;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

@media (max-width: 800px) and (orientation: landscape) {
  .shelf {
    display: flex;
    width: 120%;
    height: 225px;
    align-items: center;
  }
  .shelf_movie_container {
    width: 1400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scroll_button {
    padding: 5px;
  }
  .shelf_bottom {
    width: 115%;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .shelf {
    position: relative;
    top: 100px;
    width: 90vw;
  }
  .shelf_bottom {
    position: relative;
    top: 100px;
    width: 90vw;
    height: 15px;
    background-color: #000;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
    z-index: 5;
  }
}
