.shelf {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1400px;
  height: 300px;
  padding: 20px 20px 0 20px;
  border: none;
}

/* start Movie Container */
.shelf_movie_container {
  align-items: flex-end;
  width: 95%;
  min-width: 1000px;
  max-width: 1290px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #fffbdb;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* Ukrywa scrollbar w Firefox */
  scrollbar-width: none;
  /* Ukrywa scrollbar w IE */
  -ms-overflow-style: none;
}
/* Ukrywa scrollbar w Chrome, Safari, Edge */
&::-webkit-scrollbar {
  display: none;
}

.scroll_button {
  z-index: 1;
  height: 40px;
  width: 40px;
  /* border-radius: 50%; */
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.scroll_button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.scroll_left {
  left: 10px;
}

.scroll_right {
  right: 10px;
}
/* end style Movie Container */

.shelf_bottom {
  border-bottom: 4px solid #000;
  width: 90%;
  min-width: 1100px;
  max-width: 1500px;
  height: 5px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.4);
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
}
