*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#original_header {
  display: flex;
}

/* PARALLAX PIXEL STARS */
html {
  height: auto;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: auto;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2007px 2240px #fff, 2304px 589px #fff, 1565px 1486px #fff, 2198px 599px #fff, 706px 2176px #fff, 134px 1248px #fff,
    1056px 682px #fff, 2517px 186px #fff, 965px 1784px #fff, 2546px 511px #fff, 2493px 816px #fff, 464px 171px #fff, 1486px 1704px #fff,
    276px 970px #fff, 1150px 2394px #fff, 203px 850px #fff, 2250px 2005px #fff, 2314px 523px #fff, 998px 391px #fff, 303px 89px #fff,
    1906px 1259px #fff, 781px 1749px #fff, 1232px 577px #fff, 1074px 1523px #fff, 2131px 670px #fff, 626px 1046px #fff, 2100px 2434px #fff,
    1839px 1179px #fff, 1603px 1198px #fff, 830px 2274px #fff, 1417px 1589px #fff, 2037px 209px #fff, 2468px 1205px #fff, 1147px 800px #fff,
    1154px 104px #fff, 2177px 1956px #fff, 1454px 1064px #fff, 747px 1404px #fff, 2013px 910px #fff, 4px 1725px #fff, 1760px 602px #fff,
    442px 1474px #fff, 1792px 2002px #fff, 473px 292px #fff, 1059px 1812px #fff, 1431px 1876px #fff, 1324px 747px #fff, 1760px 282px #fff,
    840px 1871px #fff, 349px 877px #fff, 2544px 2120px #fff, 1683px 2475px #fff, 370px 1707px #fff, 1284px 2064px #fff, 1693px 2000px #fff,
    2436px 1677px #fff, 1965px 1420px #fff, 758px 2344px #fff, 1473px 179px #fff, 2038px 334px #fff, 1374px 1789px #fff, 1976px 1020px #fff,
    2425px 1960px #fff, 319px 1350px #fff, 293px 222px #fff, 855px 1834px #fff, 1323px 2317px #fff, 2383px 914px #fff, 557px 1025px #fff,
    912px 1085px #fff, 714px 2297px #fff, 2493px 1684px #fff, 1825px 615px #fff, 770px 765px #fff, 1845px 121px #fff, 1329px 2491px #fff,
    835px 2045px #fff, 1628px 1907px #fff, 42px 1082px #fff, 1451px 2359px #fff, 2437px 192px #fff, 138px 2100px #fff, 1320px 167px #fff,
    583px 2515px #fff, 899px 1020px #fff, 2073px 2053px #fff, 1794px 1821px #fff, 1965px 2483px #fff, 1271px 849px #fff, 390px 1359px #fff,
    2421px 68px #fff, 2353px 562px #fff, 1824px 1965px #fff, 394px 1970px #fff, 88px 1014px #fff, 969px 1492px #fff, 2002px 538px #fff,
    922px 625px #fff, 2109px 1870px #fff, 221px 197px #fff, 737px 2512px #fff, 569px 1490px #fff, 2157px 626px #fff, 2271px 614px #fff,
    528px 2493px #fff, 2105px 1754px #fff, 1627px 564px #fff, 2318px 1925px #fff, 254px 1132px #fff, 1233px 2351px #fff, 2470px 1871px #fff,
    1592px 1842px #fff, 426px 521px #fff, 2519px 1237px #fff, 161px 16px #fff, 2119px 1727px #fff, 2545px 990px #fff, 1207px 850px #fff,
    1811px 109px #fff, 691px 2470px #fff, 815px 779px #fff, 7px 904px #fff, 1181px 1739px #fff, 2265px 645px #fff, 1743px 168px #fff,
    1884px 2132px #fff, 187px 853px #fff, 136px 695px #fff, 879px 1107px #fff, 1552px 166px #fff, 1614px 1046px #fff, 330px 1325px #fff,
    308px 2446px #fff, 2108px 1407px #fff, 2068px 972px #fff, 1708px 2094px #fff, 1032px 1347px #fff, 1830px 1936px #fff, 625px 1111px #fff,
    754px 428px #fff, 1644px 78px #fff, 936px 1708px #fff, 1092px 734px #fff, 318px 2389px #fff, 872px 1677px #fff, 468px 1995px #fff,
    1937px 2293px #fff, 1794px 880px #fff, 1568px 1713px #fff, 644px 1903px #fff, 2048px 2209px #fff, 1315px 1456px #fff, 51px 2377px #fff,
    139px 1716px #fff, 2499px 1465px #fff, 1966px 1962px #fff, 449px 1507px #fff, 826px 989px #fff, 1251px 43px #fff, 2394px 2082px #fff,
    702px 170px #fff, 1355px 1013px #fff, 75px 2222px #fff, 521px 460px #fff, 2526px 263px #fff, 392px 1227px #fff, 1623px 692px #fff,
    1313px 369px #fff, 1231px 2452px #fff, 1898px 271px #fff, 1839px 1710px #fff, 2129px 1264px #fff, 1159px 2024px #fff, 1904px 1546px #fff,
    811px 1624px #fff, 2276px 804px #fff, 1019px 1610px #fff, 2492px 318px #fff, 354px 1924px #fff, 1499px 1330px #fff, 384px 2086px #fff,
    1464px 1877px #fff, 446px 900px #fff, 414px 230px #fff, 828px 2132px #fff, 2499px 531px #fff, 1264px 517px #fff, 1210px 49px #fff,
    2128px 289px #fff, 2288px 854px #fff, 1086px 554px #fff, 858px 787px #fff, 378px 1780px #fff, 175px 1344px #fff, 1082px 539px #fff,
    1484px 1660px #fff, 1151px 734px #fff, 467px 343px #fff, 1387px 713px #fff, 1649px 2379px #fff, 1385px 2111px #fff, 2003px 2337px #fff,
    2368px 346px #fff, 2399px 500px #fff, 219px 1195px #fff, 490px 1726px #fff, 1523px 2449px #fff, 2308px 685px #fff, 81px 644px #fff,
    56px 531px #fff, 1628px 1777px #fff, 306px 704px #fff, 1217px 186px #fff, 1138px 2065px #fff, 1319px 1157px #fff, 1892px 2138px #fff,
    1319px 2478px #fff, 473px 300px #fff, 487px 1228px #fff, 2336px 964px #fff, 57px 1483px #fff, 167px 817px #fff, 465px 1663px #fff,
    792px 408px #fff, 421px 2546px #fff, 1349px 1479px #fff, 1192px 2332px #fff, 2279px 2449px #fff, 551px 640px #fff, 168px 1726px #fff,
    2006px 2114px #fff, 283px 1042px #fff, 1000px 2027px #fff, 1658px 2205px #fff, 502px 110px #fff, 359px 1931px #fff, 292px 785px #fff,
    1866px 989px #fff, 1106px 2441px #fff, 877px 2481px #fff, 1632px 1053px #fff, 1001px 542px #fff, 1997px 1453px #fff, 1523px 1804px #fff,
    575px 1379px #fff, 40px 1941px #fff, 2397px 62px #fff, 2175px 1383px #fff, 1198px 1328px #fff, 220px 2249px #fff, 1498px 813px #fff,
    854px 2366px #fff, 822px 1035px #fff, 2307px 1565px #fff, 1019px 1686px #fff, 283px 2031px #fff, 1138px 367px #fff, 2103px 882px #fff,
    2050px 1316px #fff, 903px 1671px #fff, 1048px 739px #fff, 2156px 2332px #fff, 6px 1619px #fff, 1701px 1183px #fff, 1256px 420px #fff,
    2219px 853px #fff, 247px 91px #fff, 2553px 1514px #fff, 1177px 1660px #fff, 18px 942px #fff, 665px 1010px #fff, 620px 986px #fff,
    392px 1532px #fff, 1231px 363px #fff, 1029px 778px #fff, 1895px 2512px #fff, 123px 1915px #fff, 2143px 452px #fff, 979px 1757px #fff,
    1666px 1804px #fff, 1470px 1589px #fff, 2395px 1518px #fff, 279px 1869px #fff, 1552px 1647px #fff, 2513px 1629px #fff,
    1799px 1425px #fff, 64px 1845px #fff, 2305px 2184px #fff, 352px 2268px #fff, 1005px 790px #fff, 835px 346px #fff, 915px 660px #fff,
    767px 168px #fff, 1095px 2318px #fff, 1200px 811px #fff, 1171px 2464px #fff, 88px 280px #fff, 2556px 2032px #fff, 890px 1972px #fff,
    2067px 2350px #fff, 2167px 727px #fff, 1799px 668px #fff, 2329px 2072px #fff, 2510px 1305px #fff, 494px 1406px #fff, 2402px 1197px #fff,
    2249px 2375px #fff, 2239px 634px #fff, 2080px 1963px #fff, 2144px 954px #fff, 837px 902px #fff, 1634px 708px #fff, 994px 1919px #fff,
    627px 1478px #fff, 529px 553px #fff, 483px 272px #fff, 1416px 1009px #fff, 1121px 1046px #fff, 690px 1636px #fff, 2469px 493px #fff,
    2155px 2449px #fff, 468px 589px #fff, 1750px 633px #fff, 2389px 1782px #fff, 1369px 1269px #fff, 2227px 1326px #fff, 1603px 68px #fff,
    158px 2350px #fff, 767px 2133px #fff, 2417px 168px #fff, 582px 1139px #fff, 87px 1392px #fff, 782px 132px #fff, 738px 212px #fff,
    2043px 957px #fff, 2317px 552px #fff, 1045px 1363px #fff, 2236px 1791px #fff, 1135px 1996px #fff, 695px 2456px #fff, 1468px 1181px #fff,
    763px 433px #fff, 357px 2096px #fff, 1351px 120px #fff, 1161px 1270px #fff, 1369px 1520px #fff, 2315px 2097px #fff, 1741px 944px #fff,
    2545px 2070px #fff, 2366px 469px #fff, 1556px 223px #fff, 676px 1366px #fff, 144px 2522px #fff, 1763px 493px #fff, 2355px 609px #fff,
    1964px 721px #fff, 2056px 818px #fff, 666px 1115px #fff, 887px 2457px #fff, 1438px 600px #fff, 2175px 1046px #fff, 161px 461px #fff,
    2086px 2548px #fff, 138px 2050px #fff, 1185px 349px #fff, 528px 517px #fff, 1715px 2012px #fff, 974px 104px #fff, 885px 1530px #fff,
    2051px 948px #fff, 1407px 1333px #fff, 314px 2054px #fff, 2376px 30px #fff, 1383px 996px #fff, 309px 1554px #fff, 1909px 2296px #fff,
    2337px 1336px #fff, 2177px 378px #fff, 1079px 2397px #fff, 939px 922px #fff, 1767px 1965px #fff, 47px 2140px #fff, 1705px 1971px #fff,
    439px 1035px #fff, 1487px 1423px #fff, 2250px 860px #fff, 569px 642px #fff, 2038px 2036px #fff, 1662px 1158px #fff, 643px 16px #fff,
    369px 1923px #fff, 2303px 477px #fff, 207px 613px #fff, 1613px 919px #fff, 477px 2518px #fff, 490px 1625px #fff, 302px 1294px #fff,
    1301px 1871px #fff, 1873px 2005px #fff, 1897px 2122px #fff, 1035px 1315px #fff, 25px 396px #fff, 1601px 238px #fff, 1856px 448px #fff,
    1417px 357px #fff, 1081px 1878px #fff, 1809px 2166px #fff, 2481px 182px #fff, 1733px 1276px #fff, 1988px 807px #fff, 1287px 42px #fff,
    1212px 1282px #fff, 527px 358px #fff, 1830px 87px #fff, 2239px 2093px #fff, 904px 1599px #fff, 663px 2456px #fff, 2507px 1259px #fff,
    1782px 2475px #fff, 1931px 443px #fff, 130px 1906px #fff, 2015px 2153px #fff, 1153px 680px #fff, 855px 1854px #fff, 2114px 861px #fff,
    186px 612px #fff, 2355px 754px #fff, 1938px 2135px #fff, 1079px 1868px #fff, 767px 1789px #fff, 113px 437px #fff, 2036px 157px #fff,
    2012px 70px #fff, 2442px 490px #fff, 705px 471px #fff, 2377px 1774px #fff, 969px 1287px #fff, 1778px 81px #fff, 115px 326px #fff,
    1594px 771px #fff, 2016px 1635px #fff, 2284px 1603px #fff, 216px 897px #fff, 2492px 2160px #fff, 1522px 1115px #fff, 1651px 1378px #fff,
    1773px 97px #fff, 1728px 1777px #fff, 1551px 1465px #fff, 1654px 1502px #fff, 83px 437px #fff, 1428px 250px #fff, 1023px 1399px #fff,
    2320px 1027px #fff, 2114px 1153px #fff, 1153px 2300px #fff, 701px 1774px #fff, 272px 2317px #fff, 2001px 1026px #fff, 1651px 1097px #fff,
    2533px 212px #fff, 2314px 291px #fff, 1192px 130px #fff, 2385px 1807px #fff, 1924px 991px #fff, 1165px 923px #fff, 2348px 2297px #fff,
    331px 208px #fff, 1453px 1305px #fff, 2138px 2063px #fff, 1318px 2493px #fff, 1299px 815px #fff, 873px 1882px #fff, 1037px 1817px #fff,
    668px 782px #fff, 461px 5px #fff, 11px 2186px #fff, 2180px 1534px #fff, 1262px 385px #fff, 1739px 230px #fff, 1370px 880px #fff,
    432px 917px #fff, 2042px 368px #fff, 1836px 85px #fff, 1184px 1311px #fff, 2492px 1024px #fff, 1008px 2505px #fff, 663px 931px #fff,
    2034px 497px #fff, 229px 628px #fff, 2050px 805px #fff, 779px 1622px #fff, 2197px 2307px #fff, 373px 832px #fff, 2060px 299px #fff,
    759px 1838px #fff, 857px 2156px #fff, 1337px 1210px #fff, 1380px 1915px #fff, 2034px 2525px #fff, 811px 870px #fff, 93px 1006px #fff,
    2073px 811px #fff, 2295px 2475px #fff, 2487px 2358px #fff, 1657px 1422px #fff, 2317px 63px #fff, 1984px 1788px #fff, 770px 1980px #fff,
    2472px 289px #fff, 1412px 581px #fff, 1331px 1725px #fff, 1812px 1270px #fff, 1446px 163px #fff, 1161px 2111px #fff, 2252px 123px #fff,
    1133px 1287px #fff, 1526px 1685px #fff, 1809px 381px #fff, 2539px 635px #fff, 1846px 2203px #fff, 1869px 644px #fff, 1856px 1896px #fff,
    93px 407px #fff, 633px 940px #fff, 2518px 1572px #fff, 1132px 2531px #fff, 1422px 1485px #fff, 1084px 2556px #fff, 1918px 1292px #fff,
    1477px 859px #fff, 4px 1003px #fff, 472px 462px #fff, 2488px 915px #fff, 995px 779px #fff, 2549px 1975px #fff, 1036px 1855px #fff,
    2527px 1983px #fff, 2243px 380px #fff, 2048px 2336px #fff, 374px 1300px #fff, 2506px 313px #fff, 633px 957px #fff, 2075px 167px #fff,
    2000px 364px #fff, 1528px 170px #fff, 1000px 1284px #fff, 1029px 870px #fff, 1710px 1601px #fff, 2473px 1246px #fff, 602px 776px #fff,
    2475px 1243px #fff, 91px 2358px #fff, 16px 1962px #fff, 2559px 945px #fff, 1690px 2560px #fff, 913px 990px #fff, 1809px 634px #fff,
    2027px 2326px #fff, 1871px 1493px #fff, 1875px 2046px #fff, 92px 2298px #fff, 1599px 2161px #fff, 1304px 865px #fff, 1184px 2441px #fff,
    124px 843px #fff, 2327px 2500px #fff, 296px 720px #fff, 1982px 971px #fff, 325px 988px #fff, 516px 2553px #fff, 1245px 430px #fff,
    1106px 262px #fff, 2063px 106px #fff, 1283px 402px #fff, 2526px 1244px #fff, 1792px 289px #fff, 850px 465px #fff, 333px 1202px #fff,
    633px 1974px #fff, 930px 849px #fff, 2085px 1687px #fff, 2546px 717px #fff, 2514px 252px #fff, 2338px 2351px #fff, 602px 2208px #fff,
    130px 1440px #fff, 1058px 1728px #fff, 561px 1433px #fff, 1158px 1419px #fff, 1910px 2221px #fff, 1151px 805px #fff, 837px 927px #fff,
    1964px 2112px #fff, 1727px 1945px #fff, 2202px 1859px #fff, 1449px 2383px #fff, 1158px 1776px #fff, 1013px 2325px #fff, 369px 855px #fff,
    1840px 1170px #fff, 2191px 955px #fff, 2206px 2417px #fff, 1458px 2080px #fff, 445px 816px #fff, 1613px 1316px #fff, 2124px 1480px #fff,
    244px 1883px #fff, 500px 1576px #fff, 700px 2404px #fff, 2499px 2518px #fff, 854px 1247px #fff, 825px 2538px #fff, 1651px 1038px #fff,
    2219px 691px #fff, 1889px 1601px #fff, 2163px 1928px #fff, 1970px 2310px #fff, 1609px 2240px #fff, 9px 1125px #fff, 1056px 1241px #fff,
    615px 1974px #fff, 2183px 346px #fff, 1531px 2514px #fff, 2477px 677px #fff, 2226px 615px #fff, 2527px 282px #fff, 1818px 1978px #fff,
    2333px 19px #fff, 703px 867px #fff, 2484px 1180px #fff, 1799px 2171px #fff, 1991px 1668px #fff, 865px 1925px #fff, 1531px 1934px #fff,
    1125px 375px #fff, 277px 220px #fff, 1665px 446px #fff, 1248px 2361px #fff, 591px 302px #fff, 2507px 611px #fff, 2291px 1369px #fff,
    2113px 1952px #fff, 581px 2170px #fff, 1546px 1444px #fff, 1471px 115px #fff, 1440px 1835px #fff, 1230px 2388px #fff, 1473px 1849px #fff,
    1036px 1884px #fff, 2123px 788px #fff, 1506px 1237px #fff, 2418px 987px #fff, 836px 1224px #fff, 1979px 499px #fff, 1167px 2538px #fff,
    439px 1248px #fff, 2157px 1715px #fff, 2540px 2511px #fff, 1730px 552px #fff, 295px 540px #fff, 1887px 1100px #fff, 1072px 1176px #fff,
    379px 1695px #fff, 1811px 2153px #fff, 1556px 1764px #fff, 1552px 343px #fff, 1175px 1649px #fff, 2185px 1717px #fff, 1294px 1015px #fff,
    36px 748px #fff, 2257px 1986px #fff, 1545px 2122px #fff, 15px 34px #fff, 2495px 326px #fff, 1367px 371px #fff, 751px 1151px #fff,
    1956px 1659px #fff, 1438px 2265px #fff, 1751px 1190px #fff, 430px 1417px #fff, 34px 217px #fff, 1986px 499px #fff, 390px 976px #fff,
    1227px 1532px #fff, 2186px 1148px #fff, 1176px 135px #fff, 2211px 178px #fff, 944px 2276px #fff, 1616px 1508px #fff, 731px 1838px #fff,
    711px 4px #fff, 386px 404px #fff, 2249px 134px #fff, 1335px 343px #fff, 1893px 2330px #fff, 1773px 866px #fff, 533px 227px #fff,
    798px 1081px #fff, 2240px 1645px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2007px 2240px #fff, 2304px 589px #fff, 1565px 1486px #fff, 2198px 599px #fff, 706px 2176px #fff, 134px 1248px #fff,
    1056px 682px #fff, 2517px 186px #fff, 965px 1784px #fff, 2546px 511px #fff, 2493px 816px #fff, 464px 171px #fff, 1486px 1704px #fff,
    276px 970px #fff, 1150px 2394px #fff, 203px 850px #fff, 2250px 2005px #fff, 2314px 523px #fff, 998px 391px #fff, 303px 89px #fff,
    1906px 1259px #fff, 781px 1749px #fff, 1232px 577px #fff, 1074px 1523px #fff, 2131px 670px #fff, 626px 1046px #fff, 2100px 2434px #fff,
    1839px 1179px #fff, 1603px 1198px #fff, 830px 2274px #fff, 1417px 1589px #fff, 2037px 209px #fff, 2468px 1205px #fff, 1147px 800px #fff,
    1154px 104px #fff, 2177px 1956px #fff, 1454px 1064px #fff, 747px 1404px #fff, 2013px 910px #fff, 4px 1725px #fff, 1760px 602px #fff,
    442px 1474px #fff, 1792px 2002px #fff, 473px 292px #fff, 1059px 1812px #fff, 1431px 1876px #fff, 1324px 747px #fff, 1760px 282px #fff,
    840px 1871px #fff, 349px 877px #fff, 2544px 2120px #fff, 1683px 2475px #fff, 370px 1707px #fff, 1284px 2064px #fff, 1693px 2000px #fff,
    2436px 1677px #fff, 1965px 1420px #fff, 758px 2344px #fff, 1473px 179px #fff, 2038px 334px #fff, 1374px 1789px #fff, 1976px 1020px #fff,
    2425px 1960px #fff, 319px 1350px #fff, 293px 222px #fff, 855px 1834px #fff, 1323px 2317px #fff, 2383px 914px #fff, 557px 1025px #fff,
    912px 1085px #fff, 714px 2297px #fff, 2493px 1684px #fff, 1825px 615px #fff, 770px 765px #fff, 1845px 121px #fff, 1329px 2491px #fff,
    835px 2045px #fff, 1628px 1907px #fff, 42px 1082px #fff, 1451px 2359px #fff, 2437px 192px #fff, 138px 2100px #fff, 1320px 167px #fff,
    583px 2515px #fff, 899px 1020px #fff, 2073px 2053px #fff, 1794px 1821px #fff, 1965px 2483px #fff, 1271px 849px #fff, 390px 1359px #fff,
    2421px 68px #fff, 2353px 562px #fff, 1824px 1965px #fff, 394px 1970px #fff, 88px 1014px #fff, 969px 1492px #fff, 2002px 538px #fff,
    922px 625px #fff, 2109px 1870px #fff, 221px 197px #fff, 737px 2512px #fff, 569px 1490px #fff, 2157px 626px #fff, 2271px 614px #fff,
    528px 2493px #fff, 2105px 1754px #fff, 1627px 564px #fff, 2318px 1925px #fff, 254px 1132px #fff, 1233px 2351px #fff, 2470px 1871px #fff,
    1592px 1842px #fff, 426px 521px #fff, 2519px 1237px #fff, 161px 16px #fff, 2119px 1727px #fff, 2545px 990px #fff, 1207px 850px #fff,
    1811px 109px #fff, 691px 2470px #fff, 815px 779px #fff, 7px 904px #fff, 1181px 1739px #fff, 2265px 645px #fff, 1743px 168px #fff,
    1884px 2132px #fff, 187px 853px #fff, 136px 695px #fff, 879px 1107px #fff, 1552px 166px #fff, 1614px 1046px #fff, 330px 1325px #fff,
    308px 2446px #fff, 2108px 1407px #fff, 2068px 972px #fff, 1708px 2094px #fff, 1032px 1347px #fff, 1830px 1936px #fff, 625px 1111px #fff,
    754px 428px #fff, 1644px 78px #fff, 936px 1708px #fff, 1092px 734px #fff, 318px 2389px #fff, 872px 1677px #fff, 468px 1995px #fff,
    1937px 2293px #fff, 1794px 880px #fff, 1568px 1713px #fff, 644px 1903px #fff, 2048px 2209px #fff, 1315px 1456px #fff, 51px 2377px #fff,
    139px 1716px #fff, 2499px 1465px #fff, 1966px 1962px #fff, 449px 1507px #fff, 826px 989px #fff, 1251px 43px #fff, 2394px 2082px #fff,
    702px 170px #fff, 1355px 1013px #fff, 75px 2222px #fff, 521px 460px #fff, 2526px 263px #fff, 392px 1227px #fff, 1623px 692px #fff,
    1313px 369px #fff, 1231px 2452px #fff, 1898px 271px #fff, 1839px 1710px #fff, 2129px 1264px #fff, 1159px 2024px #fff, 1904px 1546px #fff,
    811px 1624px #fff, 2276px 804px #fff, 1019px 1610px #fff, 2492px 318px #fff, 354px 1924px #fff, 1499px 1330px #fff, 384px 2086px #fff,
    1464px 1877px #fff, 446px 900px #fff, 414px 230px #fff, 828px 2132px #fff, 2499px 531px #fff, 1264px 517px #fff, 1210px 49px #fff,
    2128px 289px #fff, 2288px 854px #fff, 1086px 554px #fff, 858px 787px #fff, 378px 1780px #fff, 175px 1344px #fff, 1082px 539px #fff,
    1484px 1660px #fff, 1151px 734px #fff, 467px 343px #fff, 1387px 713px #fff, 1649px 2379px #fff, 1385px 2111px #fff, 2003px 2337px #fff,
    2368px 346px #fff, 2399px 500px #fff, 219px 1195px #fff, 490px 1726px #fff, 1523px 2449px #fff, 2308px 685px #fff, 81px 644px #fff,
    56px 531px #fff, 1628px 1777px #fff, 306px 704px #fff, 1217px 186px #fff, 1138px 2065px #fff, 1319px 1157px #fff, 1892px 2138px #fff,
    1319px 2478px #fff, 473px 300px #fff, 487px 1228px #fff, 2336px 964px #fff, 57px 1483px #fff, 167px 817px #fff, 465px 1663px #fff,
    792px 408px #fff, 421px 2546px #fff, 1349px 1479px #fff, 1192px 2332px #fff, 2279px 2449px #fff, 551px 640px #fff, 168px 1726px #fff,
    2006px 2114px #fff, 283px 1042px #fff, 1000px 2027px #fff, 1658px 2205px #fff, 502px 110px #fff, 359px 1931px #fff, 292px 785px #fff,
    1866px 989px #fff, 1106px 2441px #fff, 877px 2481px #fff, 1632px 1053px #fff, 1001px 542px #fff, 1997px 1453px #fff, 1523px 1804px #fff,
    575px 1379px #fff, 40px 1941px #fff, 2397px 62px #fff, 2175px 1383px #fff, 1198px 1328px #fff, 220px 2249px #fff, 1498px 813px #fff,
    854px 2366px #fff, 822px 1035px #fff, 2307px 1565px #fff, 1019px 1686px #fff, 283px 2031px #fff, 1138px 367px #fff, 2103px 882px #fff,
    2050px 1316px #fff, 903px 1671px #fff, 1048px 739px #fff, 2156px 2332px #fff, 6px 1619px #fff, 1701px 1183px #fff, 1256px 420px #fff,
    2219px 853px #fff, 247px 91px #fff, 2553px 1514px #fff, 1177px 1660px #fff, 18px 942px #fff, 665px 1010px #fff, 620px 986px #fff,
    392px 1532px #fff, 1231px 363px #fff, 1029px 778px #fff, 1895px 2512px #fff, 123px 1915px #fff, 2143px 452px #fff, 979px 1757px #fff,
    1666px 1804px #fff, 1470px 1589px #fff, 2395px 1518px #fff, 279px 1869px #fff, 1552px 1647px #fff, 2513px 1629px #fff,
    1799px 1425px #fff, 64px 1845px #fff, 2305px 2184px #fff, 352px 2268px #fff, 1005px 790px #fff, 835px 346px #fff, 915px 660px #fff,
    767px 168px #fff, 1095px 2318px #fff, 1200px 811px #fff, 1171px 2464px #fff, 88px 280px #fff, 2556px 2032px #fff, 890px 1972px #fff,
    2067px 2350px #fff, 2167px 727px #fff, 1799px 668px #fff, 2329px 2072px #fff, 2510px 1305px #fff, 494px 1406px #fff, 2402px 1197px #fff,
    2249px 2375px #fff, 2239px 634px #fff, 2080px 1963px #fff, 2144px 954px #fff, 837px 902px #fff, 1634px 708px #fff, 994px 1919px #fff,
    627px 1478px #fff, 529px 553px #fff, 483px 272px #fff, 1416px 1009px #fff, 1121px 1046px #fff, 690px 1636px #fff, 2469px 493px #fff,
    2155px 2449px #fff, 468px 589px #fff, 1750px 633px #fff, 2389px 1782px #fff, 1369px 1269px #fff, 2227px 1326px #fff, 1603px 68px #fff,
    158px 2350px #fff, 767px 2133px #fff, 2417px 168px #fff, 582px 1139px #fff, 87px 1392px #fff, 782px 132px #fff, 738px 212px #fff,
    2043px 957px #fff, 2317px 552px #fff, 1045px 1363px #fff, 2236px 1791px #fff, 1135px 1996px #fff, 695px 2456px #fff, 1468px 1181px #fff,
    763px 433px #fff, 357px 2096px #fff, 1351px 120px #fff, 1161px 1270px #fff, 1369px 1520px #fff, 2315px 2097px #fff, 1741px 944px #fff,
    2545px 2070px #fff, 2366px 469px #fff, 1556px 223px #fff, 676px 1366px #fff, 144px 2522px #fff, 1763px 493px #fff, 2355px 609px #fff,
    1964px 721px #fff, 2056px 818px #fff, 666px 1115px #fff, 887px 2457px #fff, 1438px 600px #fff, 2175px 1046px #fff, 161px 461px #fff,
    2086px 2548px #fff, 138px 2050px #fff, 1185px 349px #fff, 528px 517px #fff, 1715px 2012px #fff, 974px 104px #fff, 885px 1530px #fff,
    2051px 948px #fff, 1407px 1333px #fff, 314px 2054px #fff, 2376px 30px #fff, 1383px 996px #fff, 309px 1554px #fff, 1909px 2296px #fff,
    2337px 1336px #fff, 2177px 378px #fff, 1079px 2397px #fff, 939px 922px #fff, 1767px 1965px #fff, 47px 2140px #fff, 1705px 1971px #fff,
    439px 1035px #fff, 1487px 1423px #fff, 2250px 860px #fff, 569px 642px #fff, 2038px 2036px #fff, 1662px 1158px #fff, 643px 16px #fff,
    369px 1923px #fff, 2303px 477px #fff, 207px 613px #fff, 1613px 919px #fff, 477px 2518px #fff, 490px 1625px #fff, 302px 1294px #fff,
    1301px 1871px #fff, 1873px 2005px #fff, 1897px 2122px #fff, 1035px 1315px #fff, 25px 396px #fff, 1601px 238px #fff, 1856px 448px #fff,
    1417px 357px #fff, 1081px 1878px #fff, 1809px 2166px #fff, 2481px 182px #fff, 1733px 1276px #fff, 1988px 807px #fff, 1287px 42px #fff,
    1212px 1282px #fff, 527px 358px #fff, 1830px 87px #fff, 2239px 2093px #fff, 904px 1599px #fff, 663px 2456px #fff, 2507px 1259px #fff,
    1782px 2475px #fff, 1931px 443px #fff, 130px 1906px #fff, 2015px 2153px #fff, 1153px 680px #fff, 855px 1854px #fff, 2114px 861px #fff,
    186px 612px #fff, 2355px 754px #fff, 1938px 2135px #fff, 1079px 1868px #fff, 767px 1789px #fff, 113px 437px #fff, 2036px 157px #fff,
    2012px 70px #fff, 2442px 490px #fff, 705px 471px #fff, 2377px 1774px #fff, 969px 1287px #fff, 1778px 81px #fff, 115px 326px #fff,
    1594px 771px #fff, 2016px 1635px #fff, 2284px 1603px #fff, 216px 897px #fff, 2492px 2160px #fff, 1522px 1115px #fff, 1651px 1378px #fff,
    1773px 97px #fff, 1728px 1777px #fff, 1551px 1465px #fff, 1654px 1502px #fff, 83px 437px #fff, 1428px 250px #fff, 1023px 1399px #fff,
    2320px 1027px #fff, 2114px 1153px #fff, 1153px 2300px #fff, 701px 1774px #fff, 272px 2317px #fff, 2001px 1026px #fff, 1651px 1097px #fff,
    2533px 212px #fff, 2314px 291px #fff, 1192px 130px #fff, 2385px 1807px #fff, 1924px 991px #fff, 1165px 923px #fff, 2348px 2297px #fff,
    331px 208px #fff, 1453px 1305px #fff, 2138px 2063px #fff, 1318px 2493px #fff, 1299px 815px #fff, 873px 1882px #fff, 1037px 1817px #fff,
    668px 782px #fff, 461px 5px #fff, 11px 2186px #fff, 2180px 1534px #fff, 1262px 385px #fff, 1739px 230px #fff, 1370px 880px #fff,
    432px 917px #fff, 2042px 368px #fff, 1836px 85px #fff, 1184px 1311px #fff, 2492px 1024px #fff, 1008px 2505px #fff, 663px 931px #fff,
    2034px 497px #fff, 229px 628px #fff, 2050px 805px #fff, 779px 1622px #fff, 2197px 2307px #fff, 373px 832px #fff, 2060px 299px #fff,
    759px 1838px #fff, 857px 2156px #fff, 1337px 1210px #fff, 1380px 1915px #fff, 2034px 2525px #fff, 811px 870px #fff, 93px 1006px #fff,
    2073px 811px #fff, 2295px 2475px #fff, 2487px 2358px #fff, 1657px 1422px #fff, 2317px 63px #fff, 1984px 1788px #fff, 770px 1980px #fff,
    2472px 289px #fff, 1412px 581px #fff, 1331px 1725px #fff, 1812px 1270px #fff, 1446px 163px #fff, 1161px 2111px #fff, 2252px 123px #fff,
    1133px 1287px #fff, 1526px 1685px #fff, 1809px 381px #fff, 2539px 635px #fff, 1846px 2203px #fff, 1869px 644px #fff, 1856px 1896px #fff,
    93px 407px #fff, 633px 940px #fff, 2518px 1572px #fff, 1132px 2531px #fff, 1422px 1485px #fff, 1084px 2556px #fff, 1918px 1292px #fff,
    1477px 859px #fff, 4px 1003px #fff, 472px 462px #fff, 2488px 915px #fff, 995px 779px #fff, 2549px 1975px #fff, 1036px 1855px #fff,
    2527px 1983px #fff, 2243px 380px #fff, 2048px 2336px #fff, 374px 1300px #fff, 2506px 313px #fff, 633px 957px #fff, 2075px 167px #fff,
    2000px 364px #fff, 1528px 170px #fff, 1000px 1284px #fff, 1029px 870px #fff, 1710px 1601px #fff, 2473px 1246px #fff, 602px 776px #fff,
    2475px 1243px #fff, 91px 2358px #fff, 16px 1962px #fff, 2559px 945px #fff, 1690px 2560px #fff, 913px 990px #fff, 1809px 634px #fff,
    2027px 2326px #fff, 1871px 1493px #fff, 1875px 2046px #fff, 92px 2298px #fff, 1599px 2161px #fff, 1304px 865px #fff, 1184px 2441px #fff,
    124px 843px #fff, 2327px 2500px #fff, 296px 720px #fff, 1982px 971px #fff, 325px 988px #fff, 516px 2553px #fff, 1245px 430px #fff,
    1106px 262px #fff, 2063px 106px #fff, 1283px 402px #fff, 2526px 1244px #fff, 1792px 289px #fff, 850px 465px #fff, 333px 1202px #fff,
    633px 1974px #fff, 930px 849px #fff, 2085px 1687px #fff, 2546px 717px #fff, 2514px 252px #fff, 2338px 2351px #fff, 602px 2208px #fff,
    130px 1440px #fff, 1058px 1728px #fff, 561px 1433px #fff, 1158px 1419px #fff, 1910px 2221px #fff, 1151px 805px #fff, 837px 927px #fff,
    1964px 2112px #fff, 1727px 1945px #fff, 2202px 1859px #fff, 1449px 2383px #fff, 1158px 1776px #fff, 1013px 2325px #fff, 369px 855px #fff,
    1840px 1170px #fff, 2191px 955px #fff, 2206px 2417px #fff, 1458px 2080px #fff, 445px 816px #fff, 1613px 1316px #fff, 2124px 1480px #fff,
    244px 1883px #fff, 500px 1576px #fff, 700px 2404px #fff, 2499px 2518px #fff, 854px 1247px #fff, 825px 2538px #fff, 1651px 1038px #fff,
    2219px 691px #fff, 1889px 1601px #fff, 2163px 1928px #fff, 1970px 2310px #fff, 1609px 2240px #fff, 9px 1125px #fff, 1056px 1241px #fff,
    615px 1974px #fff, 2183px 346px #fff, 1531px 2514px #fff, 2477px 677px #fff, 2226px 615px #fff, 2527px 282px #fff, 1818px 1978px #fff,
    2333px 19px #fff, 703px 867px #fff, 2484px 1180px #fff, 1799px 2171px #fff, 1991px 1668px #fff, 865px 1925px #fff, 1531px 1934px #fff,
    1125px 375px #fff, 277px 220px #fff, 1665px 446px #fff, 1248px 2361px #fff, 591px 302px #fff, 2507px 611px #fff, 2291px 1369px #fff,
    2113px 1952px #fff, 581px 2170px #fff, 1546px 1444px #fff, 1471px 115px #fff, 1440px 1835px #fff, 1230px 2388px #fff, 1473px 1849px #fff,
    1036px 1884px #fff, 2123px 788px #fff, 1506px 1237px #fff, 2418px 987px #fff, 836px 1224px #fff, 1979px 499px #fff, 1167px 2538px #fff,
    439px 1248px #fff, 2157px 1715px #fff, 2540px 2511px #fff, 1730px 552px #fff, 295px 540px #fff, 1887px 1100px #fff, 1072px 1176px #fff,
    379px 1695px #fff, 1811px 2153px #fff, 1556px 1764px #fff, 1552px 343px #fff, 1175px 1649px #fff, 2185px 1717px #fff, 1294px 1015px #fff,
    36px 748px #fff, 2257px 1986px #fff, 1545px 2122px #fff, 15px 34px #fff, 2495px 326px #fff, 1367px 371px #fff, 751px 1151px #fff,
    1956px 1659px #fff, 1438px 2265px #fff, 1751px 1190px #fff, 430px 1417px #fff, 34px 217px #fff, 1986px 499px #fff, 390px 976px #fff,
    1227px 1532px #fff, 2186px 1148px #fff, 1176px 135px #fff, 2211px 178px #fff, 944px 2276px #fff, 1616px 1508px #fff, 731px 1838px #fff,
    711px 4px #fff, 386px 404px #fff, 2249px 134px #fff, 1335px 343px #fff, 1893px 2330px #fff, 1773px 866px #fff, 533px 227px #fff,
    798px 1081px #fff, 2240px 1645px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2529px 1295px #fff, 873px 1647px #fff, 2284px 317px #fff, 795px 959px #fff, 1931px 1071px #fff, 1988px 543px #fff,
    1138px 2012px #fff, 703px 1784px #fff, 34px 701px #fff, 1320px 232px #fff, 1916px 1993px #fff, 1671px 161px #fff, 1074px 935px #fff,
    2445px 2546px #fff, 1425px 2125px #fff, 1229px 1558px #fff, 387px 1457px #fff, 1816px 1738px #fff, 1786px 2044px #fff, 498px 2453px #fff,
    2386px 1503px #fff, 2348px 2320px #fff, 977px 580px #fff, 571px 537px #fff, 303px 2492px #fff, 2421px 2043px #fff, 1069px 2521px #fff,
    2039px 1207px #fff, 272px 1499px #fff, 793px 521px #fff, 1201px 996px #fff, 1374px 2396px #fff, 950px 1819px #fff, 36px 2148px #fff,
    1466px 371px #fff, 862px 217px #fff, 1069px 227px #fff, 2465px 1592px #fff, 2237px 2289px #fff, 2334px 2327px #fff, 1361px 1162px #fff,
    1671px 1681px #fff, 294px 643px #fff, 117px 1286px #fff, 207px 2409px #fff, 1131px 1472px #fff, 1192px 1404px #fff, 2278px 5px #fff,
    1514px 1704px #fff, 499px 574px #fff, 488px 595px #fff, 35px 1771px #fff, 1347px 1958px #fff, 874px 20px #fff, 1764px 2456px #fff,
    836px 138px #fff, 1521px 573px #fff, 381px 1882px #fff, 720px 494px #fff, 70px 2082px #fff, 651px 571px #fff, 1346px 2375px #fff,
    581px 732px #fff, 1575px 755px #fff, 1659px 2517px #fff, 1250px 2404px #fff, 1810px 772px #fff, 1159px 2422px #fff, 2037px 970px #fff,
    1073px 1375px #fff, 1551px 1171px #fff, 255px 1477px #fff, 1464px 2349px #fff, 576px 390px #fff, 520px 1519px #fff, 1279px 1283px #fff,
    1896px 2472px #fff, 2308px 1631px #fff, 1298px 1021px #fff, 1297px 2417px #fff, 2060px 1644px #fff, 1139px 51px #fff, 2091px 581px #fff,
    2028px 1890px #fff, 2511px 2334px #fff, 998px 545px #fff, 1345px 1078px #fff, 1291px 436px #fff, 1278px 2150px #fff, 1605px 161px #fff,
    1938px 2037px #fff, 2451px 2191px #fff, 1666px 1547px #fff, 138px 1996px #fff, 1252px 1001px #fff, 42px 2216px #fff, 2437px 945px #fff,
    390px 519px #fff, 1933px 1730px #fff, 1563px 889px #fff, 2105px 791px #fff, 2051px 1309px #fff, 2428px 1886px #fff, 2251px 92px #fff,
    1448px 207px #fff, 1569px 1358px #fff, 182px 262px #fff, 470px 1px #fff, 1151px 246px #fff, 801px 2266px #fff, 2478px 1096px #fff,
    1964px 1012px #fff, 2551px 784px #fff, 2021px 1186px #fff, 2541px 2060px #fff, 560px 749px #fff, 1051px 1061px #fff, 1387px 1724px #fff,
    658px 1976px #fff, 1271px 868px #fff, 1013px 2262px #fff, 1766px 2138px #fff, 113px 159px #fff, 169px 795px #fff, 211px 954px #fff,
    846px 381px #fff, 1693px 1044px #fff, 1263px 2473px #fff, 1414px 565px #fff, 1798px 823px #fff, 1072px 1751px #fff, 979px 1893px #fff,
    2104px 1755px #fff, 1653px 1690px #fff, 1735px 2414px #fff, 1900px 2528px #fff, 116px 1106px #fff, 750px 1896px #fff, 1680px 1457px #fff,
    1563px 2017px #fff, 1065px 114px #fff, 383px 1276px #fff, 208px 2186px #fff, 1767px 2031px #fff, 759px 141px #fff, 1834px 324px #fff,
    1197px 477px #fff, 142px 1305px #fff, 768px 2377px #fff, 2555px 1119px #fff, 768px 7px #fff, 1814px 702px #fff, 489px 273px #fff,
    2328px 885px #fff, 398px 1694px #fff, 30px 800px #fff, 2454px 1254px #fff, 546px 1084px #fff, 2552px 2000px #fff, 2350px 805px #fff,
    622px 1028px #fff, 858px 166px #fff, 315px 2496px #fff, 520px 2007px #fff, 381px 1474px #fff, 2446px 2214px #fff, 1651px 2210px #fff,
    1353px 738px #fff, 1615px 1755px #fff, 288px 988px #fff, 781px 561px #fff, 43px 1262px #fff, 688px 1304px #fff, 655px 2241px #fff,
    55px 220px #fff, 382px 1080px #fff, 1571px 1100px #fff, 976px 2111px #fff, 1508px 2394px #fff, 1629px 139px #fff, 554px 1446px #fff,
    727px 1028px #fff, 1816px 2559px #fff, 556px 2537px #fff, 236px 106px #fff, 1174px 653px #fff, 1441px 2045px #fff, 2463px 953px #fff,
    160px 2250px #fff, 2016px 668px #fff, 1774px 1741px #fff, 2440px 991px #fff, 1422px 2105px #fff, 779px 2500px #fff, 1789px 874px #fff,
    1694px 2198px #fff, 276px 562px #fff, 1183px 357px #fff, 2354px 2015px #fff, 2043px 805px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2529px 1295px #fff, 873px 1647px #fff, 2284px 317px #fff, 795px 959px #fff, 1931px 1071px #fff, 1988px 543px #fff,
    1138px 2012px #fff, 703px 1784px #fff, 34px 701px #fff, 1320px 232px #fff, 1916px 1993px #fff, 1671px 161px #fff, 1074px 935px #fff,
    2445px 2546px #fff, 1425px 2125px #fff, 1229px 1558px #fff, 387px 1457px #fff, 1816px 1738px #fff, 1786px 2044px #fff, 498px 2453px #fff,
    2386px 1503px #fff, 2348px 2320px #fff, 977px 580px #fff, 571px 537px #fff, 303px 2492px #fff, 2421px 2043px #fff, 1069px 2521px #fff,
    2039px 1207px #fff, 272px 1499px #fff, 793px 521px #fff, 1201px 996px #fff, 1374px 2396px #fff, 950px 1819px #fff, 36px 2148px #fff,
    1466px 371px #fff, 862px 217px #fff, 1069px 227px #fff, 2465px 1592px #fff, 2237px 2289px #fff, 2334px 2327px #fff, 1361px 1162px #fff,
    1671px 1681px #fff, 294px 643px #fff, 117px 1286px #fff, 207px 2409px #fff, 1131px 1472px #fff, 1192px 1404px #fff, 2278px 5px #fff,
    1514px 1704px #fff, 499px 574px #fff, 488px 595px #fff, 35px 1771px #fff, 1347px 1958px #fff, 874px 20px #fff, 1764px 2456px #fff,
    836px 138px #fff, 1521px 573px #fff, 381px 1882px #fff, 720px 494px #fff, 70px 2082px #fff, 651px 571px #fff, 1346px 2375px #fff,
    581px 732px #fff, 1575px 755px #fff, 1659px 2517px #fff, 1250px 2404px #fff, 1810px 772px #fff, 1159px 2422px #fff, 2037px 970px #fff,
    1073px 1375px #fff, 1551px 1171px #fff, 255px 1477px #fff, 1464px 2349px #fff, 576px 390px #fff, 520px 1519px #fff, 1279px 1283px #fff,
    1896px 2472px #fff, 2308px 1631px #fff, 1298px 1021px #fff, 1297px 2417px #fff, 2060px 1644px #fff, 1139px 51px #fff, 2091px 581px #fff,
    2028px 1890px #fff, 2511px 2334px #fff, 998px 545px #fff, 1345px 1078px #fff, 1291px 436px #fff, 1278px 2150px #fff, 1605px 161px #fff,
    1938px 2037px #fff, 2451px 2191px #fff, 1666px 1547px #fff, 138px 1996px #fff, 1252px 1001px #fff, 42px 2216px #fff, 2437px 945px #fff,
    390px 519px #fff, 1933px 1730px #fff, 1563px 889px #fff, 2105px 791px #fff, 2051px 1309px #fff, 2428px 1886px #fff, 2251px 92px #fff,
    1448px 207px #fff, 1569px 1358px #fff, 182px 262px #fff, 470px 1px #fff, 1151px 246px #fff, 801px 2266px #fff, 2478px 1096px #fff,
    1964px 1012px #fff, 2551px 784px #fff, 2021px 1186px #fff, 2541px 2060px #fff, 560px 749px #fff, 1051px 1061px #fff, 1387px 1724px #fff,
    658px 1976px #fff, 1271px 868px #fff, 1013px 2262px #fff, 1766px 2138px #fff, 113px 159px #fff, 169px 795px #fff, 211px 954px #fff,
    846px 381px #fff, 1693px 1044px #fff, 1263px 2473px #fff, 1414px 565px #fff, 1798px 823px #fff, 1072px 1751px #fff, 979px 1893px #fff,
    2104px 1755px #fff, 1653px 1690px #fff, 1735px 2414px #fff, 1900px 2528px #fff, 116px 1106px #fff, 750px 1896px #fff, 1680px 1457px #fff,
    1563px 2017px #fff, 1065px 114px #fff, 383px 1276px #fff, 208px 2186px #fff, 1767px 2031px #fff, 759px 141px #fff, 1834px 324px #fff,
    1197px 477px #fff, 142px 1305px #fff, 768px 2377px #fff, 2555px 1119px #fff, 768px 7px #fff, 1814px 702px #fff, 489px 273px #fff,
    2328px 885px #fff, 398px 1694px #fff, 30px 800px #fff, 2454px 1254px #fff, 546px 1084px #fff, 2552px 2000px #fff, 2350px 805px #fff,
    622px 1028px #fff, 858px 166px #fff, 315px 2496px #fff, 520px 2007px #fff, 381px 1474px #fff, 2446px 2214px #fff, 1651px 2210px #fff,
    1353px 738px #fff, 1615px 1755px #fff, 288px 988px #fff, 781px 561px #fff, 43px 1262px #fff, 688px 1304px #fff, 655px 2241px #fff,
    55px 220px #fff, 382px 1080px #fff, 1571px 1100px #fff, 976px 2111px #fff, 1508px 2394px #fff, 1629px 139px #fff, 554px 1446px #fff,
    727px 1028px #fff, 1816px 2559px #fff, 556px 2537px #fff, 236px 106px #fff, 1174px 653px #fff, 1441px 2045px #fff, 2463px 953px #fff,
    160px 2250px #fff, 2016px 668px #fff, 1774px 1741px #fff, 2440px 991px #fff, 1422px 2105px #fff, 779px 2500px #fff, 1789px 874px #fff,
    1694px 2198px #fff, 276px 562px #fff, 1183px 357px #fff, 2354px 2015px #fff, 2043px 805px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 342px 1001px #fff, 1667px 2307px #fff, 1994px 1598px #fff, 1987px 1673px #fff, 65px 646px #fff, 628px 2448px #fff,
    1709px 1120px #fff, 199px 1853px #fff, 2283px 1517px #fff, 1577px 2433px #fff, 2312px 1611px #fff, 1250px 1596px #fff,
    1945px 2241px #fff, 2314px 2149px #fff, 711px 754px #fff, 1208px 1263px #fff, 929px 2193px #fff, 1702px 2530px #fff, 2344px 129px #fff,
    1832px 740px #fff, 710px 458px #fff, 1896px 1343px #fff, 497px 1554px #fff, 446px 14px #fff, 2032px 1343px #fff, 48px 454px #fff,
    602px 2304px #fff, 1651px 1437px #fff, 1478px 2305px #fff, 818px 597px #fff, 582px 1363px #fff, 2487px 655px #fff, 1144px 1381px #fff,
    1298px 1215px #fff, 29px 250px #fff, 2496px 461px #fff, 275px 2270px #fff, 2192px 804px #fff, 1450px 2029px #fff, 649px 91px #fff,
    1391px 2014px #fff, 2137px 907px #fff, 2524px 2117px #fff, 1682px 266px #fff, 2218px 1620px #fff, 1092px 1873px #fff, 1205px 1840px #fff,
    729px 652px #fff, 1192px 1879px #fff, 1931px 786px #fff, 247px 1605px #fff, 1684px 164px #fff, 183px 1514px #fff, 1381px 425px #fff,
    65px 2492px #fff, 210px 2035px #fff, 73px 1107px #fff, 732px 2264px #fff, 1275px 722px #fff, 1308px 110px #fff, 353px 351px #fff,
    1020px 2068px #fff, 19px 2545px #fff, 487px 659px #fff, 1351px 1037px #fff, 1024px 513px #fff, 1464px 2248px #fff, 305px 809px #fff,
    2379px 2251px #fff, 1282px 1030px #fff, 51px 1787px #fff, 2355px 1820px #fff, 437px 38px #fff, 1650px 503px #fff, 1190px 839px #fff,
    2493px 401px #fff, 199px 335px #fff, 1580px 2047px #fff, 1536px 190px #fff, 1992px 2000px #fff, 1918px 961px #fff, 1633px 737px #fff,
    962px 1199px #fff, 396px 134px #fff, 673px 77px #fff, 1252px 2440px #fff, 2382px 926px #fff, 1773px 51px #fff, 1525px 2030px #fff,
    1697px 135px #fff, 2192px 749px #fff, 2158px 1262px #fff, 2007px 1193px #fff, 1440px 2399px #fff, 18px 216px #fff, 1708px 1924px #fff,
    617px 1627px #fff, 1078px 86px #fff, 2048px 2066px #fff, 2188px 2117px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 342px 1001px #fff, 1667px 2307px #fff, 1994px 1598px #fff, 1987px 1673px #fff, 65px 646px #fff, 628px 2448px #fff,
    1709px 1120px #fff, 199px 1853px #fff, 2283px 1517px #fff, 1577px 2433px #fff, 2312px 1611px #fff, 1250px 1596px #fff,
    1945px 2241px #fff, 2314px 2149px #fff, 711px 754px #fff, 1208px 1263px #fff, 929px 2193px #fff, 1702px 2530px #fff, 2344px 129px #fff,
    1832px 740px #fff, 710px 458px #fff, 1896px 1343px #fff, 497px 1554px #fff, 446px 14px #fff, 2032px 1343px #fff, 48px 454px #fff,
    602px 2304px #fff, 1651px 1437px #fff, 1478px 2305px #fff, 818px 597px #fff, 582px 1363px #fff, 2487px 655px #fff, 1144px 1381px #fff,
    1298px 1215px #fff, 29px 250px #fff, 2496px 461px #fff, 275px 2270px #fff, 2192px 804px #fff, 1450px 2029px #fff, 649px 91px #fff,
    1391px 2014px #fff, 2137px 907px #fff, 2524px 2117px #fff, 1682px 266px #fff, 2218px 1620px #fff, 1092px 1873px #fff, 1205px 1840px #fff,
    729px 652px #fff, 1192px 1879px #fff, 1931px 786px #fff, 247px 1605px #fff, 1684px 164px #fff, 183px 1514px #fff, 1381px 425px #fff,
    65px 2492px #fff, 210px 2035px #fff, 73px 1107px #fff, 732px 2264px #fff, 1275px 722px #fff, 1308px 110px #fff, 353px 351px #fff,
    1020px 2068px #fff, 19px 2545px #fff, 487px 659px #fff, 1351px 1037px #fff, 1024px 513px #fff, 1464px 2248px #fff, 305px 809px #fff,
    2379px 2251px #fff, 1282px 1030px #fff, 51px 1787px #fff, 2355px 1820px #fff, 437px 38px #fff, 1650px 503px #fff, 1190px 839px #fff,
    2493px 401px #fff, 199px 335px #fff, 1580px 2047px #fff, 1536px 190px #fff, 1992px 2000px #fff, 1918px 961px #fff, 1633px 737px #fff,
    962px 1199px #fff, 396px 134px #fff, 673px 77px #fff, 1252px 2440px #fff, 2382px 926px #fff, 1773px 51px #fff, 1525px 2030px #fff,
    1697px 135px #fff, 2192px 749px #fff, 2158px 1262px #fff, 2007px 1193px #fff, 1440px 2399px #fff, 18px 216px #fff, 1708px 1924px #fff,
    617px 1627px #fff, 1078px 86px #fff, 2048px 2066px #fff, 2188px 2117px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
