#root {
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body.main {
  font-family: "Roboto Flex", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 300;
  padding: 0;
  margin: 0;
  --one: #c44601;
  --two: #f57600;
  --three: #054fb9;
  --four: #8babf1;
  --button: #0073e6;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(15, 87, 127, 0.2);
  border: 2px solid #000;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.wrap > * {
  flex-shrink: 0;
}

@media (max-width: 400px) and (orientation: portrait) {
  body.main {
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    font-size: 0.8rem;
  }

  .wrap {
    position: relative;
    border: none;
  }
}
