@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

body.main {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  margin: 0;
  padding: 0;
  --primary: #bf0413;
  --secondary: #f29f05;
  --button: #f2b705;
  --background: #1c58a6;
  --five: #f2f2f2;
}
