.adminPanel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  padding: 10px 0;
  z-index: 5;
}

.adminControls {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  width: 95px;
  margin-left: 8px;
  font-family: "Roboto Flex", serif;
  font-weight: 100;
  background-color: var(--five);
  display: block;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: var(--button);
}

@media (max-width: 800px) and (orientation: landscape) {
  .adminPanel {
    position: absolute;
    left: 50%;
    top: 25px;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    font-size: 0.9rem;
  }
  .buttons {
    font-size: 0.8rem;
    padding: 8px 14px;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .adminPanel {
    position: absolute;
    left: 50%;
    top: 85px;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 50px;
    margin: 0 auto;
  }
  .buttons {
    font-size: 0.8rem;
    padding: 8px 14px;
  }
}
