.adminPanel {
  position: absolute;
  right: 50%;
  top: 0px;
  transform: translateX(100px);
  padding: 20px 0;
  /* background-color: aquamarine; */
  z-index: 100;
}

.adminControls {
  margin-bottom: 2rem;
}
