.movieEdit {
  position: absolute;
  top: 0px;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--one);
  z-index: 5;
}

.movieEdit div {
  margin: 6px 5px;
}
.movieEdit div label {
  font-size: 14px;
}
.movieEdit div input {
  width: 90%;
  height: 20px;
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  padding: 2px 5px;
}
.movieEdit div select {
  width: auto;
  height: 20px;
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  padding: 2px 5px;
}

div.movie_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.movie_actions button {
  width: 70px;
  height: 30px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: var(--button);
}
.movie_actions button:hover {
  color: #fff;
  background-color: var(--three);
}

@media (max-width: 800px) and (orientation: landscape) {
  .movieEdit {
    padding: 0px;
  }
  .movieEdit div {
    margin: 1px 4px;
    font-size: 0.7rem;
  }
  .movieEdit div label {
    font-size: 0.7rem;
  }
  .movieEdit div input {
    padding: 1px 4px;
    margin: 1px 0;
    font-size: 0.7rem;
  }
  .movieEdit div select {
    font-size: 0.7rem;
    margin-top: 4px;
    padding: 2px;
  }
  .movie_actions button {
    width: 40px;
    height: 20px;
    margin: 5px 0;
  }
}
