div.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e3e7ed;
}

@media (max-width: 800px) and (orientation: landscape) {
  div.main_container {
    top: 20px;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  div.main_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: -90px;
  }
}
