div.main_container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 76vw;
  background-color: #e3e7ed;
}

@media (max-width: 800px) and (orientation: landscape) {
  div.main_container {
    top: 70px;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  div.main_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
  }
}
