.movie {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 200px;
  height: 280px;
  margin: 0 20px;
  border: 1px solid #000;
  background-size: 100%;
}

.movie_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 140px;
  color: #fff;
  background-color: #000;
  opacity: 0.2;
  transition: all 0.4s ease;
}

.movie:hover .movie_description {
  opacity: 1;
}

.movie_data p,
.rating p {
  margin: 0;
}

.movie_data {
  margin: 10px;
}

.movie_data::first-line {
  font-size: 24px;
}

.rating {
  margin: 15px 10px;
}

img {
  width: 20px;
}
/* img.star:hover {
  background: url("/star-full.svg");
  cursor: pointer;
} */

.comments_icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.movie[data-expanded="true"] .movie_description {
  height: 280px;
}

span {
  margin-left: 10px;
  font-size: 12px;
}
p {
  font-size: 12px;
}
.comments_user p {
  margin: 5px 10px;
  font-style: italic;
}
