.movie {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 250px;
  max-width: 250px;
  height: 375px;
  margin: 0 5px;
  border: 2px solid #000;
  background-size: cover;
  box-shadow: #000 10px 10px 10px 0px;
  overflow: hidden;
}

.movie_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 130px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.movie_description_edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie_description button {
  font-family: "Roboto Flex", serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80px;
  height: 30px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
.movie_description_edit button {
  font-family: "Roboto Flex", serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.movie:hover .movie_description {
  height: 280px;
  opacity: 1;
}

.movie_data p,
.rating p {
  margin: 0;
  font-variant-caps: small-caps;
}

.movie_data {
  margin: 10px;
}

.movie_data::first-line {
  font-size: 24px;
}

.rating {
  margin: 15px 10px;
}

img.star,
img.comments_icon {
  width: 20px;
  height: 20px;
}

.comments_icon {
  position: absolute;
  right: 25px;
}
.commentsLength {
  position: absolute;
  right: 5px;
  font-size: 12px;
}

div.rating span {
  margin-left: 10px;
  font-size: 12px;
}
.movie_description span {
  font-size: 13px;
}
.comments_user div {
  margin-left: 10px;
}

.comments_user div :nth-child(1) {
  color: #ffd43b;
}
.comments_user div :nth-child(2) {
  margin: 5px 2px;
  font-style: italic;
}
