.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  max-width: 80vw;
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0;
  padding: 10px 20px;
  bottom: 0;
  background-color: var(--button);
  color: #fff;
}

.footer p {
  margin: 0;
}

@media (max-width: 800px) and (orientation: landscape) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px 20px;
    bottom: 0;
    font-size: 0.7rem;
    font-weight: 100;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px 20px;
    bottom: 0;
    font-size: 0.7rem;
    font-weight: 100;
  }
}
